# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment and configuration
venv/
.env
config.json

# Data files
data/*.csv
data/*.xlsx
*.h5

# Logs
logs/
*.log

# System files
.DS_Store
Thumbs.db

# Jupyter notebooks
.ipynb_checkpoints/

# Others
*.bak
